.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Background-header {
  /* background: #282c34 ; */
  height: 100vh;
  width: 100vw;
  display: flex;
  /* min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.leftColumn-block {
  /* background-color: rgb(193, 127, 255); */
  /* background-color: transparent; */
  position: fixed;
  margin-right: 1%;
  height: 100vh;
  width: 3vw;
  /* align-items: center;  centers it vertically
  justify-content: center; centers it horizaontally */
}

.logobutton-block {
  display: flex;
  align-items: center;  /* centers it vertically */
  justify-content: center; /* centers it horizaontally */
  /* background-color: red; */
  height: auto;
  width: 3vw;
  padding-top: .4vh;
  padding-bottom: .4vh;
}

.logo-img {
  width: 2vw;
  height: auto;
}

.Left-block {
  flex-wrap: wrap;
  /* background-color: #1f252e; */
  position: fixed;
  margin-left: 4%;
  height: 100vh;
  width: 35vw;

  /* display: flex;
  /* align-items: center;  centers it vertically */
  /* justify-content: center; centers it horizaontally */
}

.Right-block {
  flex-wrap: wrap;
  /* background-color: #1760ce; */
  margin-left: 40%;
  height: 100vh;
  width: 59vw;
}

.Name-text {
  word-wrap: break-word;
  color: #e6e3e3;
  padding-top: 5%;
  font-family: 'DM Serif Display', serif;
  text-Align: center;
  margin: 0;
  /* background-color: pink; */
  font-size: 12vw;
  line-height: 90%;

  /* gradient animation stuff */
  background-image: linear-gradient(90deg, #3673CF, #4636CF, #36C0CF);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 1s linear infinite;
}
@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-color: 0%;
  }
  }


.Bio-text{
  padding-top: 6%;
  /* color: #B4B5B7; */
  color: #e6e3e3;
  margin: 0;
  font-size: 2.9vb;
  font-family: 'Montserrat', sans-serif;
}

/* .Gradient-effect{
  background-image: linear-gradient(90deg, #3673CF, #4636CF, #36C0CF);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 1s linear infinite;
}
@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-color: 0%;
  }
} */

.HorizontalAlign-picture {
  display: flex;
  width: auto;
  height: 970px;
  display: flex;
  justify-content: center; /* centers it horizaontally */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
