.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Background-header {
  width: auto;
  height: 3000px;
  /* min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.FirstBlockCenter-block {
  display: flex;
  align-items: center;  /* centers it vertically */
  justify-content: center; /* centers it horizaontally */
  width: auto;
  height: 970px;
}

.KhangTranGradient-text {
  background-image: linear-gradient(90deg, #3673cf, #6136cf);
  font-size: 1000%;
  font-family: 'Montserrat', sans-serif;
  /* -webkit allows animation effect to take place */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 0.001s linear infinite;
}
@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-color: 0%;
  }
}

.HorizontalAlign-picture {
  display: flex;
  width: auto;
  height: 970px;
  display: flex;
  justify-content: center; /* centers it horizaontally */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
